@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 900px;
	margin: 0 auto;
	font-family: helvetica, sans-serif;
}

header {
	height: 80px;
	padding: 10px;
	margin-bottom: 20px;
	background-color: teal;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: teal;
	color: #f2ffff;
}

header h1 {
	text-transform: uppercase;
	margin-bottom: 0;
}

.user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-info p {
	margin-right: 10px;
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

.user-info a:visited {
	color: #f2ffff;
}

.user-info a:hover {
	color: #f0c735;
}

h1, h2, p {
	margin-bottom: 20px;
}

header p {
	margin-bottom: 0;
}

.btn-add {
	display: inline-block;
	background-color: #efefef;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #000;
}

.btn-add:hover {
	text-decoration: none;
	background-color: #808080;
	color: #fff;
}

table {
	width: 900px;
	border-collapse: collapse;
	text-align: left;
	border: 1px solid #000;
}

thead {
	background-color: #808080;
}

th {
	color: #fff;
	height: 40px;
	padding: 5px;
}

td {
	padding: 5px;
}

tbody tr:nth-child(even) {
	background-color: #efefef;
}

tbody tr:nth-child(odd) {
	background-color: #fff;
}

.btn-action {
	display: inline-block;
	background-color: #efefef;
	font-size: 12px;
	height: 24px;
	padding: 4px;
	text-align: center;
	vertical-align: center;
	border: 1px solid #000;
}

label {
	display: inline-block;
	width: 90px;
	margin-bottom: 20px;
	text-align: right;
}

.btn-register, .btn-update, .back-to-list {
	height: 30px;
	background-color: #efefef;
	padding: 5px;
	border: 1px solid #000;
}

.btn-register:hover, .btn-update:hover, .back-to-list:hover, .btn-action:hover
	{
	background-color: #808080;
	color: white;
}

input {
	width: 300px;
	padding: 2px;
}